{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPARTAMARTKET</title>
  {% block header %}{% endblock header %}
</head>
<body>
  <div class="navbar" style="display: flex; gap: 20px;">

    <a href= "{% url "homepage:homepage" %}">
      <p>Home</p>
    </a>

    <a href="{% url "products:products" %}">
      <p>Products</p>

    {% comment %} <a href= "{% url "products:search" %}">
      <p>Search</p>
    </a> {% endcomment %}

    {% if request.user.is_authenticated %}

    <a href ="{% url "users:profile" request.user.username %}">
      <p>Profile</p>
    </a>

    <form action="{% url "accounts:logout" %}" method="POST">
      {% csrf_token %}
      <input type='submit' value="Logout">
    </form>

    {% else %}
  
    <a href= "{% url "accounts:login" %}">
      <p>Login</p>
    </a>

    {% endif %}

  </div>

  <div class='container'>
    {% block content %}
    {% endblock content %}
  </div>

</body>
</html>