{% extends 'base.html' %}
{% block content %}
<h1>Products</h1>
{% if request.user.is_authenticated %}
  <a href="{% url 'products:create' %}"><button>작성하기</button></a>
{% else %}
  <a href="{% url 'accounts:login' %}"><button>작성하기</button></a>
{% endif %}

{% for product in products %}
  <a href="{% url 'products:detail' product.pk %}">
      <p>[{{ product.pk }}] {{ product.title }}</p>
  </a>
  <p>{{ product.author.username }}</p>
  
  <form action="{% url "products:like" product.pk %}" method="POST">
      {% csrf_token %}
      {% if request.user in product.like_user.all %}
          <input type="submit" value="Unlike">
      {% else %}
          <input type="submit" value="Like">
      {% endif %}
  </form>
  <hr>
{% endfor %}

{% endblock content %}